<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="eu.pryds.ve"
    android:versionCode="7"
    android:versionName="0.1.2" >
    
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="com.android.vending.BILLING" />

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo.Light" >
        <meta-data android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <activity
            android:name="eu.pryds.ve.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="eu.pryds.ve.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName="eu.pryds.ve.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="eu.pryds.ve.MainActivity" />
        </activity>
        <activity
            android:name="eu.pryds.ve.FileChooser"
            android:label="@string/title_activity_file_chooser"
            android:parentActivityName="eu.pryds.ve.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="eu.pryds.ve.MainActivity" />
        </activity>
        <activity
            android:name="eu.pryds.ve.DonateActivity"
            android:label="@string/title_activity_donate"
            android:parentActivityName="eu.pryds.ve.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="eu.pryds.ve.MainActivity" />
        </activity>
    </application>

</manifest>
